.rpm-bar {
    /* background: rgb(0,255,255); */
    /* background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(255,0,0,1) 100%); */
    min-height: 3rem;
}

.rpm-bar block.filled{
    background: rgb(119, 0, 255);
    /* background: linear-gradient(90deg, rgba(0,255,255,0) 0%, rgba(255,0,0,0) 100%); */
}

.rpm-bar block.empty{
    background: rgb(0, 0, 0);
    /* background: linear-gradient(90deg, rgba(0,255,255,0) 0%, rgba(255,0,0,0) 100%); */
}

.clock {
    min-width: 8rem;
    font-size: 5rem;
}

label {
    /* color: rgb(0, 0, 0); */
    color: rgb(240, 141, 141);
    font-weight: 900;
    font-size: 2rem;
}

.background {
    /* background-color: rgb(240, 141, 141); */
    background-color: rgb(0, 0, 0);
}
